 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.box-title{
    width: 100vw;
    height: 30vh;
    margin: 1rem;
    padding: 2rem;
    font-size: 2rem;
    background-color:black;
    display: flex;
    align-items: center;
      
  }

.title-movies{
    color:deeppink;
    font-size: 6rem;
    margin-left: 2rem;
        
  }

.box-menu{
  width: 100vw;
  display: flex;
  justify-content: flex-end;

  }
         
.menu{
    color:deeppink;
    font-size: 1rem;
    list-style: none;
    margin: 1rem;       
  }

.box-movies-map-return{
    width: 100vw;
    height: 60vh;
    display: flex;
    background-color: deepskyblue;
    justify-content: space-around;
    margin: 1rem;
  }

.box-description{

  width: 50vw;
  height: 50vh;
  display: flex;
  text-align: justify;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  justify-items: center;

  }

  
.subtitle-movies{
    margin-bottom: 1rem;
    font-size: 2rem;
    justify-items: center;
  }


.Date{
    margin-bottom: .5rem;
    font-size: 1rem;
    
  }

.Description{
  text-justify: justify;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  margin: 1rem;

  }

 
.box-posterFilme{
 padding: 1rem;
   
  }
  
.posterFilme{
  width: 25vw;
  height: 55vh;
  margin-top: 1rem;
   
}

/* shows */


.box-shows-map-return{
  width: 100vw;
  height: 60vh;
  display: flex;
  margin:1rem;
  justify-content: space-between;
  background-color: rgb(76, 179, 98);
  justify-content: center;
  
}

.box-shows-description{
  width: 50vw;
  height: 50vh;
  display: flex;
  text-align: justify;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: 2rem;
  }

  
.subtitle-shows{
    margin-bottom: 1rem;
    font-size: 2rem;
    justify-items: center;
  }


.vote{
    margin-bottom: .5rem;
    font-size: 1rem;
    justify-items: center;
  }



.box-posterSeries{
  margin-top : 1rem;
   
}
  
.posterSeries{
  width: 25vw;
  height: 55vh;
}
